@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes horizontalWave {
  from{
    left: -8px;
  }
  to{
    left: 0;
  }
}


.custom-swiper {
  --swiper-navigation-color: #c7c3bd;
  --swiper-navigation-size: 20px;
}


.swiper-button-prev {
  position: absolute;
  left: -1rem !important;
  z-index: 50 !important;
  padding: 20px;
  border: 2px solid #8e8b86;
  border-radius: 50%;
}

.swiper-button-next {
  padding: 20px;
  border: 2px solid #b7b3ac;
  border-radius: 50%;
}

.swiper-button-prev:hover {
  background: none;
  color: #EFC378;
}

.swiper-button-next:hover {
  background: none;
  color: #EFC378;
}

