@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-navigation-size: 20px !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes horizontalWave {
  from{
    left: -8px;
  }
  to{
    left: 0;
  }
}


.swiper-button-prev {
  padding: 16px;
  border: 2px solid gray;
  left: -18px !important;
  background-color: black;
  border-radius: 50%;
  transform: translateY(-50%);
  color: gray !important;
}

.swiper-button-next {
  padding: 16px;
  border: 2px solid gray;
  right: -18px !important;
  background-color: black;
  border-radius: 50%;
  transform: translateY(-50%);
  color: gray !important;
}

.swiper-button-prev:hover {
  color: #EFC378;
}

.swiper-button-next:hover {
  color: #EFC378;
}



/* another */

.product .swiper-button-prev {
  padding: 16px;
  border: 2px solid gray;
  background-color: black;
  border-radius: 50%;
  top: 20px !important;
  left: 93% !important;
  color: gray !important;
}

.product .swiper-button-next {
  padding: 16px;
  border: 2px solid gray;
  background-color: black;
  border-radius: 50%;
  top: 20px !important;
  right: 0% !important;
  color: gray !important;
}

.product .swiper-button-prev:hover {
  color: #EFC378;
}

.product .swiper-button-next:hover {
  color: #EFC378;
}


@media only screen and (max-width: 500px) {
  .product .swiper-button-prev {
      left: 75% !important;
  }

  .product .swiper-button-next {
      left: 90% !important;
  }
}

@media only screen and (min-width:500px) {
  .product .swiper-button-prev {
      left: 83% !important;
  }

  .product .swiper-button-next {
      left: 93% !important;
  }
}
@media only screen and (min-width:720px) {
  .product .swiper-button-prev {
      left: 88% !important;
  }

  .product .swiper-button-next {
      left: 95% !important;
  }
}

@media only screen and (min-width:1024px) {
  .product .swiper-button-prev {
      left: 92% !important;
  }

  .product .swiper-button-next {
      left: 97% !important;
  }
}

